*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

#My .gitignore files with API keys and additional features to make the project working on my phone
/app/build/intermediates/merged_manifests/debug/AndroidManifest.xml